html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-subtle:hover {
  color: #fff;
  background-color: #666;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
  border-width: #333 3px solid;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #666;
  border-width: #666 3px solid;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

.btn-warning:hover {
  color: #fff;
  background-color: #933;
}
