html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn-small {
  text-size: .875rem;
}
